node_modules/
client/node_modules/
server/node_modules/
shared/node_modules/
dist/
server/dist/
client/dist/
server/src/generated/
server/src/uploads/*
!server/src/uploads/.gitkeep
*.env.local
.env.local

.env
server/.env
